:root {
  --titlebar-icon-color: white;
  --titlebar-hover-color: #5bbec3;
}

html,
body {
  background: transparent;
}

.titlebar {
  height: 100%;
  user-select: none;
  display: grid;
  grid-template-columns: auto max-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar > .controls {
  display: flex;
}
.titlebar button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  background-color: transparent;
}

.titlebar button > svg {
  width: 10px;
  height: 10px;
  fill: var(--titlebar-icon-color);
}

.titlebar button:hover {
  background: var(--titlebar-hover-color);
}
